---
title: Math Multiplication Practice Online : Level 1
layout: post
---
<html>
<head>
   {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is open source multiplication tools that gives it in a challenging game format with points for correct answers." />
    <meta name="keywords" content="online,tool,math,multiplication,practice,opensource" />

    {% include theme-css %}
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

{% include theme-header %}
{% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="row">
                <div class="col-lg-4 col-xs-6">
                  <!-- small box -->
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3 id="secondsLeft">60</h3>
                      <p>Seconds</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-xs-6">
                  <!-- small box -->
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3 id="levelHeading">1</h3>
                      <p id="levelMessage">Level</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- Main content -->
            <section class="content">
              <div class="box box-success">
                  <div class="box-header with-border">
                      <h1 class="box-title">Multiplication Problem 1 Minute Challenge</h1>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <div class="box-body">
                    <div class="row">
                        <div class="col-xs-4">
                          <form role="form">
                              <div class="form-group">
                                  <h2 id="problem"></h2>
                              </div>
                          </form>
                        </div>
                        <div class="col-xs-4">
                          <div class="form-group">
                            <h2 id="message"></h2>
                          </div>
                        </div>
                      </div>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                      <div class="row">
                          <div class="col-xs-4">
                              <button type="button" class="btn btn-block btn-default btn-lg answerChoice" id="choice0">?</button>
                              <button type="button" class="btn btn-block btn-default btn-lg answerChoice" id="choice1">?</button>
                              <button type="button" class="btn btn-block btn-default btn-lg answerChoice" id="choice2">?</button>
                          </div>
                          <div class="col-xs-4" >
                              <button type="button" class="btn btn-block btn-default btn-lg answerChoice" id="choice3">?</button>
                              <button type="button" class="btn btn-block btn-default btn-lg answerChoice" id="choice4">?</button>
                              <button type="button" class="btn btn-block btn-default btn-lg answerChoice" id="choice5">?</button>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <button type="button" class="btn btn-block btn-success btn-lg" id="nextLevel" style="display:none;">Go To Next Level</button>
                          <button type="button" class="btn btn-block btn-success btn-lg" id="startchallenge">Start Challenge</button>
                        </div>
                      </div>
                  </div>
                  <!-- /.box-footer -->
              </div>
                <div id="debug">
                    ....
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
{% include theme-footer %}
    </div>
    <!-- ./wrapper -->
{% include theme-bottom-js %}

</body>
<script type="text/javascript" src="https://math.imustread.com/javascript/json2.js"></script>
<script type="text/javascript" src="https://math.imustread.com/javascript/fromdev-utils.js?v=5"></script>
<script type="text/javascript" src="https://math.imustread.com/javascript/MultiplicationProblem.js?v=12"></script>
<script type="text/javascript" src="https://math.imustread.com/javascript/Levels.js?v=15"></script>

<script type="text/javascript">
    var onScreenDebug = true;
    var debug = true;
Array.prototype.last = function(x) { return this[this.length - Math.abs(x || 1)]; };

var showSummary = function() {
  $problem.html('Time is up! Check your score.');
  $("#startchallenge").show();
};
var seconds = 60;
var showCountDown = function() {
    document.getElementById('secondsLeft').innerHTML = seconds;
    if(seconds > 0) {
        seconds = seconds - 1;
        var t = setTimeout(showCountDown, 1000);
    } else {
      showSummary();
    }
};

var showPoints = function () {
  var totalPoints = parseInt(StorageUtils.getItem("TOTAL_POINTS"));
  totalPoints = (Number.isInteger(totalPoints)) ? totalPoints : 0;
  $("#totalPoints").html(totalPoints);
};
var CurrentLevel = Levels.CurrentLevel;

var checkLevelOverride = function() {
  var url = new URL(window.location.href);

  var skipToLevel = parseInt(url.searchParams.get("l"));
  var cLInstance;
  if(skipToLevel && Number.isInteger(skipToLevel) && skipToLevel > 0) {
    cLInstance = Levels.findLevel(skipToLevel);
  } else {
    cLInstance = CurrentLevel.Instance();
  }
  return cLInstance;
};

CurrentLevel.initialize(checkLevelOverride());

//cache jquery objects for page
var $problem = $("#problem");
var $message = $("#message");
var selectedPrblem;
$(document).ready(function () {
  $(".answerChoice").click(evaluateAnswer);
  $("#nextLevel").click(function(){
    CurrentLevel.initialize(Levels.NextLevel(CurrentLevel.Instance()));
    nextProblem();
  });
  $("#startchallenge").click(function(){
    $("#startchallenge").hide();
    nextProblem();
    showCountDown();
  });
  $(".answerChoice").hide();
  $('#multiplication-category').addClass('active');
});

var evaluateAnswer = function() {
  var correctAnswer = selectedPrblem.answer();
  var selectedAnswer = $(this).text();
  if(correctAnswer == selectedAnswer) {
    console.log("correct answer - questions remaining " + CurrentLevel.Instance().problems.length);
    $message.html('<i class="fa  fa-thumbs-up text-green"></i>' + ' +' + CurrentLevel.Instance().points).show().delay(1000).fadeOut();
    rewardPoints();
    CurrentLevel.removeLastProblem();
  } else {
    console.log("incorrect answer - adding back");
    $message.html('<i class="fa  fa-times text-red"></i>').show().delay(1000).fadeOut();;
    CurrentLevel.moveProblemToEnd();
  }
  nextProblem();
};

var rewardPoints = function() {
  var totalPoints = parseInt(StorageUtils.getItem("TOTAL_POINTS"));
  if(!totalPoints || !Number.isInteger(totalPoints)) {
    totalPoints = 0;
  }
  totalPoints += CurrentLevel.Instance().points;
  StorageUtils.setItem("TOTAL_POINTS",totalPoints);
  showPoints();
};

var nextProblem = function() {
  selectedPrblem = CurrentLevel.findNextProblem();
  if(selectedPrblem) {
    console.log(selectedPrblem.display);
    $(".answerChoice").show();
    $problem.text(selectedPrblem.displayProblem());
    showChoices(selectedPrblem);
  } else {
    console.log('Level complete - next level ' + (CurrentLevel.Instance().id + 1));
    $problem.html('<i class="fa fa-trophy text-yellow"></i>'+ ' Awesome! ' + CurrentLevel.Instance().type + ' ' + CurrentLevel.Instance().id + ' Completed');
    $(".answerChoice").hide();
    $("#nextLevel").html("Go To Next " + CurrentLevel.Instance().type);
    $("#nextLevel").show();
  }
};

var showChoices = function(problem) {
  var choices = ArrayUtils.shuffle(problem.choices());
  if(choices) {
    for(var i = 0; i < CurrentLevel.Instance().choicesGiven; i++) {
      var ch = -1;
      if(i < choices.length){
        ch = choices[i];
      }
      var $ch = $("#choice" + i);
      if($ch) {
        if(ch >= 0) {
          $ch.text(ch);
        } else {
          $ch.remove();
        }
      }
    }

  }
};



</script>
</html>
