---
title: Generate Math Multiplication Printables
layout: post
---
<html>
<head>
   {% include common-meta %}
    <title>{{ page.title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="This is open source  multiplication printable generation for everyone to practice and learn multiplication." />
    <meta name="keywords" content="online,tool,math,multiplication,printable,opensource" />

    {% include theme-css %}
    {% include ie-fixes %}
</head>

<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

{% include theme-header %}
{% include theme-sidebar %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
              <div class="box box-success">
                  <div class="box-header with-border">
                      <h1 class="box-title">Generate Multiplication Problems Printable</h1>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                          <form role="form">
                              <div class="form-group">
                                  <h2 id="problem"></h2>
                              </div>
                          </form>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <h2 id="message"></h2>
                          </div>
                        </div>
                      </div>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                      <div class="row">
                          <div class="col-xs-6">
                              <input type="number" class="btn btn-block btn-default btn-lg" id="first.start" placeholder="First Number Start Range" value="10"/>
                              <input type="number" class="btn btn-block btn-default btn-lg" id="first.end" placeholder="First Number End Range" value="99"/>
                              <input type="number" class="btn btn-block btn-default btn-lg" id="second.start" placeholder="Second Number Starting Range" value="10"/>
                              <input type="number" class="btn btn-block btn-default btn-lg" id="second.end" placeholder="Second Number Starting Range" value="99"/>
                              <button type="button" class="btn btn-block btn-default btn-lg" id="generate">Generate Printable Problems</button>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <button type="button" class="btn btn-block btn-success btn-lg" id="nextLevel" style="display:none;">Go To Next Level</button>
                        </div>
                      </div>
                  </div>
                  <!-- /.box-footer -->
              </div>
                <div id="debug">
                    ....
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
{% include theme-footer %}
    </div>
    <!-- ./wrapper -->
{% include theme-bottom-js %}

</body>
<script type="text/javascript" src="http://math.imustread.com/javascript/json2.js"></script>
<script type="text/javascript" src="http://math.imustread.com/javascript/fromdev-utils.js?v=5"></script>
<script type="text/javascript" src="http://math.imustread.com/javascript/MultiplicationProblem.js?v=12"></script>
<script type="text/javascript" src="http://math.imustread.com/javascript/Levels.js?v=15"></script>
<script type="text/javascript" src="http://math.imustread.com/plugins/selectOnFocus/jquery.selectOnFocus.min.js"></script>

<script type="text/javascript">
    var onScreenDebug = false;
    var debug = false;
    var range = {"firstStart" : 10, "firstEnd" : 99, "secondStart" : 10, "secondEnd" : 99}

var generate = function(range, count) {
  if(!count) count = 100;
  var problems = [];
  for (var i = 0; i < count; i++) {
    var first = RandomUtils.getRandomInt(range.firstStart,range.firstEnd);
    var second = RandomUtils.getRandomInt(range.secondStart,range.secondEnd);
    problems.push(new MultiplicationProblem(first,second));
  }
  console.log("Generated " + problems);
  return problems;
};
$(document).ready(function () {
  $("#generate").click(function(){
      range.firstStart = $("#first.start").val();
      range.firstEnd = $("#first.end").val();
      range.secondStart = $("#second.start").val();
      range.secondEnd = $("#second.end").val();
      var problems = generate(range, 10);

  });

});

</script>
</html>
